﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NoteFlash.ascx.cs" Inherits="NoteFlash" %>
<table>

    <tr>
        <th>Title</th>
        <td id="title"></td>
    </tr>

    <tr>
        <th>Create Time</th>
        <td id="ctime"></td>
    </tr>

    <tr>
        <th>Modified Time</th>
        <td id="mtime"></td>
    </tr>

    <tr>
        <th>Body</th>
        <td id="body"></td>
    </tr>
    <script src="Scripts/flash.js" type="text/javascript"></script>
</table>