﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" MasterPageFile="~/NotemanASP.master"%>

<%@ Register src="NoteFlash.ascx" tagname="NoteFlash" tagprefix="uc1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="Main" Runat="Server">
    
    <uc1:NoteFlash ID="NoteFlash1" runat="server" />
    
</asp:Content>
