﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewTags.aspx.cs" Inherits="ViewTags" MasterPageFile="~/NotemanASP.master"%>


<%@ Register src="NoteFlash.ascx" tagname="NoteFlash" tagprefix="uc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="Main" runat="Server">
    <div style="height: 40px">

        <table>
        <tr>
        <td>
        <asp:Label ID="tagname" runat="server"></asp:Label><br />
        <asp:ListBox ID="ListBox_Tags" runat="server" Font-Size="Medium" Height="87px" 
            Width="186px" onselectedindexchanged="go_flash"></asp:ListBox>
        </td>
        <td>
        <div style="float:right;">
            <uc1:NoteFlash ID="NoteFlash1" runat="server" />
        </div>
        </td>
        </tr>
        </table>
        
        <br />

    </div>
    </asp:Content>